<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
    <script src="/javascripts/tools/default.js"></script>
</head>

<body>
    <article class="Ph100">
        <!--      <ol>
            <%list.map((da,ind)=>{ %>
                 <li><%=da.name%></li>
            <%})%>
        </ol> -->
        <section id="m-router" class="Ph100">

        </section>
    </article>
    <!-- 公共数据 -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/dist/css/main-less.css" rel="stylesheet" />
    <script src="/dist/js/vendor-es5.js"></script>
    <script src="/dist/js/main-es5.js"></script>
</body>

</html>