<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
    <article>
   <!--      <ol>
            <%list.map((da,ind)=>{ %>
                 <li><%=da.name%></li>
            <%})%>
        </ol> -->
       <section id="m-router">

       </section>
    </article>
    <!-- 公共数据 -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <script src="/dist/js/chunk-es5.js"></script>
    <script src="/dist/js/vendor-es5.js"></script>
    <script src="/dist/js/main-es5.js"></script>
</body>
</html>